@page
@model Notion.Client.Pages.LoginModel

<link href="css/LoginStyle.css" rel="stylesheet" />

<h3>Login</h3>

<form method="post">
    <div>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" required />
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required />
    </div>
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a asp-page="/Registration">Register here</a></p>
